
@mixin dFlexCentCent {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin dFlexCentStart {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

@mixin dFlexCentEnd {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@mixin dFlexStartCent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@mixin dFlexStartStart {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

@mixin dFlexStartEnd {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

@mixin dFlexColumnCentCent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin dFlexColumnCentStart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

@mixin dFlexColumnCentEnd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

@mixin dFlexColumnStartCent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@mixin dFlexColumnStartStart {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

@mixin dFlexColumnStartEnd {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

@mixin dFlexColumnEndCent {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

@mixin dFlexColumnEndStart {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

@mixin dFlexColumnEndEnd {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}